.app {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  margin:0;
  padding:0;
  background-color: green;
}

.header {
  background-color: black;
	color: white;
	padding: 1em;
	height: 13vh;
	text-align: center;
}

.main {
  display: flex;
	color: white;
	background: #333333;
}

.nav {
	display: flex;
	flex: 0 0 30vw;  
  background-color: #333333;
	color: white;
	order: -1;
	flex-direction: column;
	justify-items: center;  
}

.button-list {
	list-style: none;
}

.map-container {
	widht: 100%;
	height: 100%;
	color: white;
	background-color: black;
}

.map {
	flex: 1;
}

.info-window {
	color: black;
	background-color: white;
}

.footer {
  background-color: black;;
	color: white;
	padding: 1em;
	height: 5vh;
	text-align: center;
}

@media screen and (max-width: 575px) {
  .main {
		display: block;
	}

	.button-list {
		display: flex;
		flex-flow: row wrap;		
	}
}

